<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.ConsumptionDailyDao">

    <sql id="Base_column">
        ID,USER_ID,EXPENSE,CONSUMP_DATE,IS_OVER
    </sql>

    <!--根据条件查询消费记录列表-->
    <select id="getConsumptionDetail" parameterType="ConsumptionDailyDto" resultType="ConsumptionDaily">
        SELECT <include refid="Base_column"/> FROM CONSUMPTION_DAILY
        WHERE 1=1
        <if test="expense_range!=null and expense_range==1">AND expense &gt;0 AND expense &lt;=10</if>
        <if test="expense_range!=null and expense_range==2">AND expense &gt;10 AND expense &lt;=20</if>
        <if test="expense_range!=null and expense_range==3">AND expense &gt;20 AND expense &lt;=30 </if>
        <if test="expense_range!=null and expense_range==4">AND expense &gt;30</if>
        <if test="start_time!=null">AND  consump_date &gt;= #{start_time}</if>
        <if test="end_time!=null ">AND consump_date &lt;= #{end_time}</if>
        <if test="user_id!=null and user_id!='' ">AND user_id=#{user_id}</if>
        <if test="is_over!=null">AND is_over=#{is_over}</if>
        ORDER BY consump_date DESC LIMIT #{startIndex},10
    </select>

    <!--查询记录总数-->
    <select id="getConsumpDailyTotalSize" parameterType="ConsumptionDailyDto" resultType="Integer">
        SELECT count(1) FROM CONSUMPTION_DAILY WHERE  1=1
        <if test="expense_range!=null and expense_range==1">AND expense &gt;0 AND expense &lt;=10</if>
        <if test="expense_range!=null and expense_range==2">AND expense &gt;10 AND expense &lt;=20</if>
        <if test="expense_range!=null and expense_range==3">AND expense &gt;20 AND expense &lt;=30 </if>
        <if test="expense_range!=null and expense_range==4">AND expense &gt;30</if>
        <if test="start_time!=null">AND  consump_date &gt;= #{start_time}</if>
        <if test="end_time!=null ">AND consump_date &lt;= #{end_time}</if>
        <if test="user_id!=null and user_id!='' ">AND user_id=#{user_id}</if>
        <if test="is_over!=null">AND is_over=#{is_over}</if>
    </select>

    <!--获取上周消费金额记录-->
    <select id="getLastweekTendency" parameterType="Long" resultType="Double">
        SELECT expense FROM CONSUMPTION_DAILY WHERE consump_date &lt;= #{last_sunday}
        AND user_id = #{user_id}
        ORDER BY consump_date DESC limit 0,7
    </select>

    <!--获取本周消费金额记录-->
    <select id="getThisweekTendency" parameterType="Long" resultType="Double">
        SELECT expense FROM CONSUMPTION_DAILY WHERE consump_date &gt;= #{this_monday}
        AND user_id = #{user_id}
        ORDER BY consump_date
    </select>

    <!--增加日消费记录-->
    <insert id="addConsumpDailyRecord" parameterType="ConsumptionDaily">
        INSERT INTO CONSUMPTION_DAILY
        (id,user_id,expense,consump_date,is_over)
        VALUE (#{id},#{user_id},#{expense},#{consump_date},#{is_over})
    </insert>

    <!--获取本月消费总金额-->
    <select id="getThisMonthExpense" resultType="Double">
        SELECT expense FROM CONSUMPTION_DAILY WHERE consump_date &lt;= #{last_day}
        AND consump_date &gt;= #{first_day}
        AND user_id = #{user_id}
    </select>


    <!--修改日消费记录-->
    <update id="updateConsumpDailyrecord" parameterType="ConsumptionDaily">
        UPDATE CONSUMPTION_DAILY SET
        expense = #{expense},is_over = #{is_over}
        WHERE consump_date = #{consump_date}
        AND user_id = #{user_id}
    </update>

    <!--获取上个月超标列表-->
    <select id="getLastMonthOverList" resultType="ConsumptionDaily">
        SELECT <include refid="Base_column"/> FROM CONSUMPTION_DAILY
        WHERE  consump_date &lt;= #{last_day}
        AND consump_date &gt;= #{first_day}
        AND user_id = #{user_id}
        AND expense &gt;= #{standard}
    </select>
</mapper>