<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.ConsumptionDetailDao">

    <sql id="Base_column">
        CONSUMP_ID,USER_ID,EXPENSE,CONSUMP_TYPE,CONSUMP_DESC,CONSUMP_DATE,CREATE_TIME
    </sql>

    <!--插入数据-->
    <insert id="addConsumptionDetail" parameterType="ConsumptionDetail">
        INSERT INTO CONSUMPTION_DETAIL (consump_id,user_id,expense,consump_type,consump_desc,consump_date,create_time)
        VALUES
        (#{consump_id},#{user_id},#{expense},#{consump_type},#{consump_desc},#{consump_date},#{create_time})
    </insert>


    <!--根据条件查询消费记录列表-->
    <select id="getConsumptionDetail" parameterType="ConsumptionDetailDto" resultType="ConsumptionDetail">
        SELECT <include refid="Base_column"/> FROM CONSUMPTION_DETAIL
        WHERE 1=1
        <if test="expense_range!=null and expense_range==1">AND expense &gt;0 AND expense &lt;=10</if>
        <if test="expense_range!=null and expense_range==2">AND expense &gt;10 AND expense &lt;=20</if>
        <if test="expense_range!=null and expense_range==3">AND expense &gt;20 AND expense &lt;=30 </if>
        <if test="expense_range!=null and expense_range==4">AND expense &gt;30</if>
        <if test="start_time!=null">AND  consump_date &gt;= #{start_time}</if>
        <if test="end_time!=null ">AND consump_date &lt;= #{end_time}</if>
        <if test="consump_type!=null ">AND consump_type = #{consump_type}</if>
        AND user_id=#{user_id}
        ORDER BY create_time DESC LIMIT #{startIndex},10
    </select>


    <!--查询记录数-->
    <select id="getConsumptionDetailListSize" parameterType="ConsumptionDetailDto" resultType="Integer">
        SELECT COUNT(1) FROM  CONSUMPTION_DETAIL
        WHERE 1=1
        <if test="expense_range!=null and expense_range==1">AND expense &gt;0 AND expense &lt;=10</if>
        <if test="expense_range!=null and expense_range==2">AND expense &gt;10 AND expense &lt;=20</if>
        <if test="expense_range!=null and expense_range==3">AND expense &gt;20 AND expense &lt;=30 </if>
        <if test="expense_range!=null and expense_range==4">AND expense &gt;30</if>
        <if test="start_time!=null">AND  consump_date &gt;= #{start_time}</if>
        <if test="end_time!=null ">AND consump_date &lt;= #{end_time}</if>
        <if test="consump_type!=null ">AND consump_type = #{consump_type}</if>
        AND user_id=#{user_id}
    </select>


    <!--查询当天记录-->
    <select id="getConsumptionDetailByDay" parameterType="String" resultType="ConsumptionDetail">
        SELECT <include refid="Base_column"/> FROM CONSUMPTION_DETAIL WHERE consump_date=#{consump_date}
    </select>
</mapper>