<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.DictionaryDao">

    <sql id="Base_column">
        DIC_ID,NAME,DESCRIPTION,VALUE_NUM,VALUE_STR,CREATE_TIME,UPDATE_TIME
    </sql>

    <!--查询字典内容（数字）-->
    <select id="getDictionaryNum" parameterType="String" resultType="Double">
        SELECT value_num FROM DICTIONARY WHERE dic_id=#{dic_id}
    </select>

    <!--设置数字字典-->
    <update id="setNumvalueDic" parameterType="DictionaryDto">
        UPDATE DICTIONARY SET value_num = #{value_num} WHERE dic_id=#{dic_id} AND user_id = #{user_id}
    </update>
</mapper>