<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.PlanDao">

    <sql id="Base_column">
        PLAN_ID,PLAN_NAME,USER_ID,CONTENT,DEADLINE,LEVEL,STATUS,CREATE_TIME
    </sql>

    <!--查询列表(进行中)-->
    <select id="getPlanlistInProcess" parameterType="String" resultType="Plan">
        SELECT <include refid="Base_column"/> FROM PLAN WHERE STATUS = 1
        AND user_id=#{user_id} ORDER BY create_time DESC
    </select>


    <!--新增计划-->
    <insert id="addPlan" parameterType="Plan" >
        INSERT INTO plan (plan_id,plan_name,user_id,content,deadline,level,status,create_time)
        VALUES (#{plan_id},#{plan_name},#{user_id},#{content},#{deadline},#{level},#{status},#{create_time})
    </insert>


    <!--查询计划详情-->
    <select id="getPlan" parameterType="Plan" resultType="Plan">
        SELECT <include refid="Base_column"/> FROM plan
        WHERE 1=1
        <if test="plan_id !=null and plan_id!= ''">AND plan_id = #{plan_id}</if>
    </select>

    <!--修改计划-->
    <update id="updatePlan" parameterType="Plan">
        UPDATE plan
        <set>
            <if test="level!=null">level=#{level},</if>
            <if test="status!=null">status=#{status}</if>
        </set>
        WHERE plan_id=#{plan_id}
    </update>

    <!--获取计划列表-->
    <select id="getPlanListByPage" resultType="Plan" parameterType="PlanDto">
        SELECT <include refid="Base_column"/> FROM plan
        WHERE 1=1
        <if test="status !=null">AND status = #{status}</if>
        <if test="level !=null">AND level = #{level}</if>
        <if test="start_time !=null">AND deadline &gt;= #{start_time}</if>
        <if test="end_time !=null">AND deadline &lt; #{end_time}</if>
        AND user_id=#{user_id}
        ORDER BY create_time DESC LIMIT #{startIndex},10
    </select>


    <!--获取列表总数-->
    <select id="getTotalSize" parameterType="PlanDto" resultType="Integer">
        SELECT COUNT(1) FROM plan WHERE 1=1
        <if test="status !=null">AND status = #{status}</if>
        <if test="level !=null">AND level = #{level}</if>
        <if test="start_time !=null">AND deadline &gt;= #{start_time}</if>
        <if test="end_time !=null">AND deadline &lt; #{end_time}</if>
        AND user_id = #{user_id}
    </select>

    <!--删除任务-->
    <delete id="deletePlan" parameterType="String">
        DELETE FROM plan WHERE plan_id = #{plan_id}
    </delete>
</mapper>