<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.PlanDao">

    <sql id="Base_column">
        PLAN_ID,PLAN_NAME,USER_ID,CONTENT,DEADLINE,LEVEL,STATE,CREATE_TIME
    </sql>

    <!--查询列表(进行中)-->
    <select id="getPlanlistInProcess" parameterType="String" resultType="Plan">
        SELECT <include refid="Base_column"/> FROM PLAN WHERE state = 1
        AND user_id=#{user_id} ORDER BY create_time DESC
    </select>


    <!--新增计划-->
    <insert id="addPlan" parameterType="Plan" >
        INSERT INTO plan (plan_id,plan_name,user_id,content,deadline,level,state)
        VALUES (#{plan_id},#{plan_name},#{user_id},#{content},#{deadline},#{level},#{state})
    </insert>


    <!--查询计划详情-->
    <select id="getPlan" parameterType="Plan" resultType="Plan">
        SELECT <include refid="Base_column"/> FROM plan
        WHERE 1=1
        <if test="plan_id !=null and plan_id!= ''">AND plan_id = #{plan_id}</if>
    </select>

    <!--修改计划-->
    <update id="updatePlan" parameterType="Plan">
        UPDATE plan
        <set>
            <if test="content!=null and content!=''">content=#{content}</if>
            <if test="deadline!=null">=deadline#{deadline}</if>
            <if test="level!=null">level=#{level}</if>
            <if test="state!=null">state=#{state}</if>
        </set>
        WHERE plan_id=#{plan_id}
    </update>
</mapper>