<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qulei.dao.SysUserDao">

    <sql id="Base_column">
       USER_ID,USERNAME,PASSWORD,NICKNAME,PHONENUM,MAIL,ICON,CREATE_TIME,CODE,STATE
    </sql>

    <!--插入一个用户-->
    <insert id="addSysUser" parameterType="SysUserDto" >
        INSERT INTO SYS_USER
        (
        <trim suffixOverrides="," suffix=" ">
            <if test="user_id!= null and user_id!='' ">user_id,</if>
            <if test="password != null and password!='' ">password,</if>
            <if test="username != null and username!='' ">username,</if>
            <if test="nickname != null and nickname!=''">nickname,</if>
            <if test="phonenum != null and phonenum!='' ">phonenum,</if>
            <if test="mail != null and mail!='' ">mail,</if>
            <if test="icon != null and icon!='' ">icon,</if>
            <if test="create_time != null ">create_time,</if>
            <if test="code != null and code!='' ">code,</if>
            <if test="state != null ">status,</if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides="," suffix=" ">
            <if test="user_id!= null and user_id!='' ">#{user_id},</if>
            <if test="password != null and password!='' ">#{password},</if>
            <if test="username != null and username!='' ">#{username},</if>
            <if test="nickname != null and nickname!=''">#{nickname},</if>
            <if test="phonenum != null and phonenum!='' ">#{phonenum},</if>
            <if test="mail != null and mail!='' ">#{mail},</if>
            <if test="icon != null and icon!='' ">#{icon},</if>
            <if test="create_time != null ">#{create_time},</if>
            <if test="code != null and code!='' ">#{code},</if>
            <if test="state != null ">#{status},</if>
        </trim>
        )
    </insert>

    <!--修改用户信息-->
    <insert id="updateSysUser" parameterType="SysUserDto">
        UPDATE SYS_USER
        <set>
            <if test="nickname!=null and nickname!='' ">nickname=#{nickname}</if>
            <if test="phonenum!=null and phonenum!='' ">phonenum=#{phonenum}</if>
            <if test="password!=null and password!='' ">password=#{password}</if>
            <if test="mail!=null and mail!='' ">mail=#{mail}</if>
            <if test="icon!=null and icon!='' ">icon=#{icon}</if>
            <if test="token_pc!=null and token_pc!='' ">token_pc=#{token_pc}</if>
        </set>
        WHERE user_id=#{user_id}
    </insert>

    <!--根据条件查询用户-->
    <select id="getSysUserByParam" parameterType="SysUserDto" resultType="SysUser">
        SELECT <include refid="Base_column"/> from SYS_USER
        WHERE 1=1
        <if test="username!=null and username!='' ">AND username=#{username}</if>
        <if test="mail!=null and mail!='' ">AND mail=#{mail}</if>
    </select>

    <!--根据code查询用户-->
    <select id="getSysUserByCode" parameterType="String" resultType="SysUser">
        SELECT <include refid="Base_column"/> from SYS_USER
        WHERE code = #{code}
    </select>

    <!--根据用户名查询用户-->
    <select id="getSysUserByUsername" parameterType="String" resultType="SysUser">
        SELECT <include refid="Base_column"/> FROM SYS_USER
        WHERE username=#{username}
    </select>

    <!--根据邮箱查询用户名-->
    <select id="getSysUserByMail" parameterType="String" resultType="SysUser">
        SELECT <include refid="Base_column"/> FROM SYSTEM_USER
        WHERE mail=#{mail}
    </select>

    <!--根据用户id查询-->
    <select id="getSysUserByUserid" parameterType="String" resultType="SysUser">
        SELECT <include refid="Base_column"/> FROM SYSTEM_USER
        WHERE user_id=#{user_id}
    </select>

</mapper>